<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.gen.support.mapper.SysGenConfigMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.gen.support.entity.SysGenConfig">
    <!--@mbg.generated-->
    <!--@Table sys_gen_config-->
    <id column="dbc_id" jdbcType="INTEGER" property="dbcId" />
    <result column="dbc_log" jdbcType="VARCHAR" property="dbcLog" />
    <result column="dbc_type" jdbcType="VARCHAR" property="dbcType" />
    <result column="dbc_database" jdbcType="VARCHAR" property="dbcDatabase" />
    <result column="dbc_driver_link" jdbcType="VARCHAR" property="dbcDriverLink" />
    <result column="dbc_driver" jdbcType="VARCHAR" property="dbcDriver" />
    <result column="dbc_driver_url" jdbcType="VARCHAR" property="dbcDriverUrl" />
    <result column="dbc_console_url" jdbcType="VARCHAR" property="dbcConsoleUrl" />
    <result column="dbc_name" jdbcType="VARCHAR" property="dbcName" />
    <result column="dbc_status" jdbcType="SMALLINT" property="dbcStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    dbc_id, dbc_log, dbc_type, dbc_database, dbc_driver_link, dbc_driver, dbc_driver_url, 
    dbc_console_url, dbc_name, dbc_status, create_time, update_time
  </sql>
</mapper>