<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.gen.support.mapper.SysGenNginxServerMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.gen.support.entity.SysGenNginxServer">
    <!--@mbg.generated-->
    <!--@Table sys_gen_nginx_server-->
    <id column="server_id" jdbcType="INTEGER" property="serverId" />
    <result column="server_type" jdbcType="VARCHAR" property="serverType" />
    <result column="server_address" jdbcType="VARCHAR" property="serverAddress" />
    <result column="server_domain" jdbcType="VARCHAR" property="serverDomain" />
    <result column="server_ssl" jdbcType="INTEGER" property="serverSsl" />
    <result column="server_param" jdbcType="VARCHAR" property="serverParam" />
    <result column="server_status" jdbcType="INTEGER" property="serverStatus" />
    <result column="upstream_id" jdbcType="INTEGER" property="upstreamId" />
    <result column="gen_id" jdbcType="INTEGER" property="genId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    server_id, server_type, server_address, server_domain, server_ssl, server_param, 
    server_status, upstream_id, gen_id
  </sql>
</mapper>