<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.gen.support.mapper.SysGenNginxServerItemMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.gen.support.entity.SysGenNginxServerItem">
    <!--@mbg.generated-->
    <!--@Table sys_gen_nginx_server_item-->
    <id column="server_item_id" jdbcType="INTEGER" property="serverItemId" />
    <result column="server_id" jdbcType="INTEGER" property="serverId" />
    <result column="server_item_path" jdbcType="VARCHAR" property="serverItemPath" />
    <result column="server_item_type" jdbcType="VARCHAR" property="serverItemType" />
    <result column="server_item_websocket" jdbcType="INTEGER" property="serverItemWebsocket" />
    <result column="server_item_cors" jdbcType="INTEGER" property="serverItemCors" />
    <result column="server_item_host" jdbcType="INTEGER" property="serverItemHost" />
    <result column="server_item_param" jdbcType="VARCHAR" property="serverItemParam" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    server_item_id, server_id, server_item_path, server_item_type, server_item_websocket, 
    server_item_cors, server_item_host, server_item_param
  </sql>
</mapper>