<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.gen.support.mapper.SysGenNginxUpstreamMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.gen.support.entity.SysGenNginxUpstream">
    <!--@mbg.generated-->
    <!--@Table sys_gen_nginx_upstream-->
    <id column="upstream_id" jdbcType="INTEGER" property="upstreamId" />
    <result column="upstream_name" jdbcType="VARCHAR" property="upstreamName" />
    <result column="upstream_desc" jdbcType="VARCHAR" property="upstreamDesc" />
    <result column="upstrean_type" jdbcType="VARCHAR" property="upstreanType" />
    <result column="upstream_strategy" jdbcType="VARCHAR" property="upstreamStrategy" />
    <result column="gen_id" jdbcType="INTEGER" property="genId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    upstream_id, upstream_name, upstream_desc, upstrean_type, upstream_strategy, gen_id
  </sql>
</mapper>