<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.gen.support.mapper.SysGenRemarkMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.gen.support.entity.SysGenRemark">
    <!--@mbg.generated-->
    <!--@Table sys_gen_remark-->
    <id column="remark_id" jdbcType="INTEGER" property="remarkId" />
    <result column="remark_name" jdbcType="VARCHAR" property="remarkName" />
    <result column="gen_id" jdbcType="INTEGER" property="genId" />
    <result column="remark_table" jdbcType="VARCHAR" property="remarkTable" />
    <result column="remark_database" jdbcType="VARCHAR" property="remarkDatabase" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark_column" jdbcType="VARCHAR" property="remarkColumn" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    remark_id, remark_name, gen_id, remark_table, remark_database, create_time, update_time, 
    remark_column
  </sql>
</mapper>