<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.pay.support.mapper.PayMerchantMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.pay.support.entity.PayMerchant">
    <!--@mbg.generated-->
    <!--@Table pay_merchant-->
    <id column="pay_merchant_id" jdbcType="INTEGER" property="payMerchantId" />
    <result column="pay_merchant_name" jdbcType="VARCHAR" property="payMerchantName" />
    <result column="pay_merchant_code" jdbcType="VARCHAR" property="payMerchantCode" />
    <result column="pay_merchant_remark" jdbcType="VARCHAR" property="payMerchantRemark" />
    <result column="pay_merchant_status" jdbcType="INTEGER" property="payMerchantStatus" />
    <result column="pay_merchant_delete" jdbcType="INTEGER" property="payMerchantDelete" />
    <result column="pay_merchant_open_wallet" jdbcType="INTEGER" property="payMerchantOpenWallet" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    pay_merchant_id, pay_merchant_name, pay_merchant_code, pay_merchant_remark, pay_merchant_status, 
    pay_merchant_delete, pay_merchant_open_wallet, create_name, create_by, create_time, 
    update_time, update_name, update_by
  </sql>
</mapper>