<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.device.support.mapper.DeviceCloudPlatformMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.device.support.entity.DeviceCloudPlatform">
    <!--@mbg.generated-->
    <!--@Table device_cloud_platform-->
    <id column="device_platform_id" jdbcType="INTEGER" property="devicePlatformId" />
    <result column="device_platform_name" jdbcType="VARCHAR" property="devicePlatformName" />
    <result column="device_platform_code" jdbcType="VARCHAR" property="devicePlatformCode" />
    <result column="device_platform_api_address" jdbcType="VARCHAR" property="devicePlatformApiAddress" />
    <result column="device_platform_adress" jdbcType="VARCHAR" property="devicePlatformAdress" />
    <result column="manufacturer_id" jdbcType="INTEGER" property="manufacturerId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    device_platform_id, device_platform_name, device_platform_code, device_platform_api_address, 
    device_platform_adress, manufacturer_id
  </sql>
</mapper>