<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.device.support.mapper.DeviceDataAccessEventMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.device.support.entity.DeviceDataAccessEvent">
    <!--@mbg.generated-->
    <!--@Table device_data_access_event-->
    <id column="device_data_id" jdbcType="INTEGER" property="deviceDataId" />
    <result column="device_data_event_in_or_out" jdbcType="VARCHAR" property="deviceDataEventInOrOut" />
    <result column="device_data_card" jdbcType="VARCHAR" property="deviceDataCard" />
    <result column="device_data_person_id" jdbcType="VARCHAR" property="deviceDataPersonId" />
    <result column="device_data_person_num" jdbcType="VARCHAR" property="deviceDataPersonNum" />
    <result column="device_data_persion_name" jdbcType="VARCHAR" property="deviceDataPersionName" />
    <result column="device_data_persion_type" jdbcType="VARCHAR" property="deviceDataPersionType" />
    <result column="device_data_cert" jdbcType="VARCHAR" property="deviceDataCert" />
    <result column="device_data_phone" jdbcType="VARCHAR" property="deviceDataPhone" />
    <result column="device_data_org_id" jdbcType="VARCHAR" property="deviceDataOrgId" />
    <result column="device_data_org_path_name" jdbcType="VARCHAR" property="deviceDataOrgPathName" />
    <result column="device_data_persion_group_name" jdbcType="VARCHAR" property="deviceDataPersionGroupName" />
    <result column="device_data_face_url" jdbcType="VARCHAR" property="deviceDataFaceUrl" />
    <result column="device_data_pic_url" jdbcType="VARCHAR" property="deviceDataPicUrl" />
    <result column="device_data_temperature" jdbcType="VARCHAR" property="deviceDataTemperature" />
    <result column="device_data_data_id" jdbcType="INTEGER" property="deviceDataDataId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    device_data_id, device_data_event_in_or_out, device_data_card, device_data_person_id, 
    device_data_person_num, device_data_persion_name, device_data_persion_type, device_data_cert, 
    device_data_phone, device_data_org_id, device_data_org_path_name, device_data_persion_group_name, 
    device_data_face_url, device_data_pic_url, device_data_temperature, device_data_data_id
  </sql>
</mapper>