<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.device.support.mapper.DeviceLogMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.device.support.entity.DeviceLog">
    <!--@mbg.generated-->
    <!--@Table device_log-->
    <id column="device_log_id" jdbcType="INTEGER" property="deviceLogId" />
    <result column="device_log_type" jdbcType="VARCHAR" property="deviceLogType" />
    <result column="device_log_error" jdbcType="VARCHAR" property="deviceLogError" />
    <result column="device_log_imsi" jdbcType="VARCHAR" property="deviceLogImsi" />
    <result column="device_log_from" jdbcType="VARCHAR" property="deviceLogFrom" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    device_log_id, device_log_type, device_log_error, device_log_imsi, device_log_from, 
    create_time, update_time
  </sql>
</mapper>