<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.device.support.mapper.DeviceDictMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.device.support.entity.DeviceDict">
    <!--@mbg.generated-->
    <!--@Table device_dict-->
    <id column="device_dict_id" jdbcType="INTEGER" property="deviceDictId" />
    <result column="device_dict_name" jdbcType="VARCHAR" property="deviceDictName" />
    <result column="device_dict_code" jdbcType="VARCHAR" property="deviceDictCode" />
    <result column="device_dict_type" jdbcType="VARCHAR" property="deviceDictType" />
    <result column="device_dict_status" jdbcType="INTEGER" property="deviceDictStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    device_dict_id, device_dict_name, device_dict_code, device_dict_type, device_dict_status
  </sql>
</mapper>