<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.device.support.mapper.DeviceCloudPlatformConnectorMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.device.support.entity.DeviceCloudPlatformConnector">
    <!--@mbg.generated-->
    <!--@Table device_cloud_platform_connector-->
    <id column="device_connector_id" jdbcType="INTEGER" property="deviceConnectorId" />
    <result column="device_connector_app_key" jdbcType="VARCHAR" property="deviceConnectorAppKey" />
    <result column="device_connector_app_secret" jdbcType="VARCHAR" property="deviceConnectorAppSecret" />
    <result column="device_connector_project_id" jdbcType="VARCHAR" property="deviceConnectorProjectId" />
    <result column="device_connector_timeout" jdbcType="INTEGER" property="deviceConnectorTimeout" />
    <result column="device_connector_project_code" jdbcType="VARCHAR" property="deviceConnectorProjectCode" />
    <result column="device_platform_id" jdbcType="VARCHAR" property="devicePlatformId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    device_connector_id, device_connector_app_key, device_connector_app_secret, device_connector_project_id, 
    device_connector_timeout, device_connector_project_code, device_platform_id
  </sql>
</mapper>