<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.unified.server.support.mapper.UnifiedServiceItemMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.unified.server.support.entity.UnifiedServiceItem">
    <!--@mbg.generated-->
    <!--@Table unified_service_item-->
    <id column="unified_service_item_id" jdbcType="INTEGER" property="unifiedServiceItemId" />
    <result column="unified_service_id" jdbcType="VARCHAR" property="unifiedServiceId" />
    <result column="unified_service_item_appname" jdbcType="VARCHAR" property="unifiedServiceItemAppname" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    unified_service_item_id, unified_service_id, unified_service_item_appname, create_time, 
    update_time
  </sql>
</mapper>