<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.unified.server.support.mapper.UnifiedConfigMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.unified.server.support.entity.UnifiedConfig">
    <!--@mbg.generated-->
    <!--@Table unified_config-->
    <id column="unified_config_id" jdbcType="INTEGER" property="unifiedConfigId" />
    <result column="unified_config_name" jdbcType="VARCHAR" property="unifiedConfigName" />
    <result column="unified_config_value" jdbcType="VARCHAR" property="unifiedConfigValue" />
    <result column="unified_config_desc" jdbcType="VARCHAR" property="unifiedConfigDesc" />
    <result column="unified_config_status" jdbcType="INTEGER" property="unifiedConfigStatus" />
    <result column="unified_config_profile" jdbcType="VARCHAR" property="unifiedConfigProfile" />
    <result column="unified_appname" jdbcType="VARCHAR" property="unifiedAppname" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    unified_config_id, unified_config_name, unified_config_value, unified_config_desc, 
    unified_config_status, unified_config_profile, unified_appname, create_time, update_time
  </sql>
</mapper>