<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.unified.server.support.mapper.UnifiedExecuterMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.unified.server.support.entity.UnifiedExecuter">
    <!--@mbg.generated-->
    <!--@Table unified_executer-->
    <id column="unified_executer_id" jdbcType="INTEGER" property="unifiedExecuterId" />
    <result column="unified_executer_name" jdbcType="VARCHAR" property="unifiedExecuterName" />
    <result column="unified_executer_type" jdbcType="VARCHAR" property="unifiedExecuterType" />
    <result column="unified_executer_appname" jdbcType="VARCHAR" property="unifiedExecuterAppname" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    unified_executer_id, unified_executer_name, unified_executer_type, unified_executer_appname, 
    create_time, update_time
  </sql>
</mapper>