<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.unified.server.support.mapper.UnifiedServiceMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.unified.server.support.entity.UnifiedService">
    <!--@mbg.generated-->
    <!--@Table unified_service-->
    <id column="unified_service_id" jdbcType="INTEGER" property="unifiedServiceId" />
    <result column="unified_service_name" jdbcType="VARCHAR" property="unifiedServiceName" />
    <result column="unified_service_version" jdbcType="VARCHAR" property="unifiedServiceVersion" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    unified_service_id, unified_service_name, unified_service_version, create_time, update_time
  </sql>
</mapper>