<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.unified.server.support.mapper.UnifiedMybatisMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.unified.server.support.entity.UnifiedMybatis">
    <!--@mbg.generated-->
    <!--@Table unified_mybatis-->
    <id column="unified_mybatis_id" jdbcType="INTEGER" property="unifiedMybatisId" />
    <result column="unified_mybatis_name" jdbcType="VARCHAR" property="unifiedMybatisName" />
    <result column="unified_mybatis_value" jdbcType="VARCHAR" property="unifiedMybatisValue" />
    <result column="unified_appname" jdbcType="VARCHAR" property="unifiedAppname" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    unified_mybatis_id, unified_mybatis_name, unified_mybatis_value, unified_appname, 
    create_time, update_time
  </sql>
</mapper>