<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.unified.server.support.mapper.UnifiedProfileMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.unified.server.support.entity.UnifiedProfile">
    <!--@mbg.generated-->
    <!--@Table unified_profile-->
    <id column="unified_profile_id" jdbcType="INTEGER" property="unifiedProfileId" />
    <result column="unified_profile_name" jdbcType="VARCHAR" property="unifiedProfileName" />
    <result column="unified_profile_type" jdbcType="VARCHAR" property="unifiedProfileType" />
    <result column="unified_profile_desc" jdbcType="VARCHAR" property="unifiedProfileDesc" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    unified_profile_id, unified_profile_name, unified_profile_type, unified_profile_desc, 
    create_time
  </sql>
</mapper>