package ${packageName}.query;

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
#if($openSwagger)
import io.swagger.v3.oas.annotations.media.Schema;
#end
import lombok.Data;

/**
* 基础分页请求对象
*
* @author ${author}
* @date ${datetime}
*/
@Data
#if($openSwagger)
@Schema
#end
public class PageQuery<T> {
    /**
     * 页码
     */
    #if($openSwagger)
    @Schema(description = "页码", example = "1")
    #end
    private int pageNum = 1;
    /**
     * 每页记录数
    */
    #if($openSwagger)
    @Schema(description = "每页记录数", example = "10")
    #end
    private int pageSize = 10;

    public Page<T> page() {
        return new Page<>(pageNum, pageSize);
    }
}
