<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.monitor.server.mapper.FileStorageProtocolMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.monitor.server.entity.FileStorageProtocol">
    <!--@mbg.generated-->
    <!--@Table file_storage_protocol-->
    <id column="file_storage_protocol_id" jdbcType="INTEGER" property="fileStorageProtocolId" />
    <result column="file_storage_protocol_port" jdbcType="INTEGER" property="fileStorageProtocolPort" />
    <result column="file_storage_protocol_desc" jdbcType="VARCHAR" property="fileStorageProtocolDesc" />
    <result column="file_storage_protocol_name" jdbcType="VARCHAR" property="fileStorageProtocolName" />
    <result column="file_storage_protocol_host" jdbcType="VARCHAR" property="fileStorageProtocolHost" />
    <result column="file_storage_protocol_status" jdbcType="INTEGER" property="fileStorageProtocolStatus" />
    <result column="file_storage_protocol_plugins" jdbcType="VARCHAR" property="fileStorageProtocolPlugins" />
    <result column="file_storage_protocol_setting" jdbcType="VARCHAR" property="fileStorageProtocolSetting" />
    <result column="file_storage_protocol_plugin_open" jdbcType="INTEGER" property="fileStorageProtocolPluginOpen" />
    <result column="file_storage_protocol_setting_open" jdbcType="INTEGER" property="fileStorageProtocolSettingOpen" />
    <result column="file_storage_protocol_ua_open" jdbcType="INTEGER" property="fileStorageProtocolUaOpen" />
    <result column="file_storage_protocol_ua" jdbcType="VARCHAR" property="fileStorageProtocolUa" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    file_storage_protocol_id, file_storage_protocol_port, file_storage_protocol_desc, 
    file_storage_protocol_name, file_storage_protocol_host, file_storage_protocol_status, 
    file_storage_protocol_plugins, file_storage_protocol_setting, file_storage_protocol_plugin_open, 
    file_storage_protocol_setting_open, file_storage_protocol_ua_open, file_storage_protocol_ua
  </sql>
</mapper>