<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.monitor.server.mapper.MonitorProjectVersionMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.monitor.server.entity.MonitorProjectVersion">
    <!--@mbg.generated-->
    <!--@Table monitor_project_version-->
    <id column="version_id" jdbcType="INTEGER" property="versionId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="version_name" jdbcType="VARCHAR" property="versionName" />
    <result column="version_run_script" jdbcType="VARCHAR" property="versionRunScript" />
    <result column="version_stop_script" jdbcType="VARCHAR" property="versionStopScript" />
    <result column="version_log" jdbcType="VARCHAR" property="versionLog" />
    <result column="version_desc" jdbcType="VARCHAR" property="versionDesc" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    version_id, project_id, version_name, version_run_script, version_stop_script, version_log, 
    version_desc
  </sql>
</mapper>