<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.monitor.server.mapper.MonitorTerminalMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.monitor.server.entity.MonitorTerminal">
    <!--@mbg.generated-->
    <!--@Table monitor_terminal-->
    <id column="terminal_id" jdbcType="INTEGER" property="terminalId" />
    <result column="terminal_name" jdbcType="VARCHAR" property="terminalName" />
    <result column="terminal_host" jdbcType="VARCHAR" property="terminalHost" />
    <result column="terminal_port" jdbcType="VARCHAR" property="terminalPort" />
    <result column="terminal_user" jdbcType="VARCHAR" property="terminalUser" />
    <result column="terminal_password" jdbcType="VARCHAR" property="terminalPassword" />
    <result column="terminal_desc" jdbcType="VARCHAR" property="terminalDesc" />
    <result column="terminal_status" jdbcType="INTEGER" property="terminalStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    terminal_id, terminal_name, terminal_host, terminal_port, terminal_user, terminal_password, 
    terminal_desc, terminal_status
  </sql>
</mapper>