<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.monitor.server.mapper.MonitorSysGenShellMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.monitor.server.entity.MonitorSysGenShell">
    <!--@mbg.generated-->
    <!--@Table monitor_sys_gen_shell-->
    <id column="shell_id" jdbcType="INTEGER" property="shellId" />
    <result column="shell_name" jdbcType="VARCHAR" property="shellName" />
    <result column="shell_script_path" jdbcType="VARCHAR" property="shellScriptPath" />
    <result column="shell_args" jdbcType="VARCHAR" property="shellArgs" />
    <result column="shell_desc" jdbcType="VARCHAR" property="shellDesc" />
    <result column="shell_content" jdbcType="VARCHAR" property="shellContent" />
    <result column="gen_id" jdbcType="INTEGER" property="genId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    shell_id, shell_name, shell_script_path, shell_args, shell_desc, shell_content, gen_id
  </sql>
</mapper>