<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.monitor.server.mapper.MonitorProxyLimitListMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.monitor.server.entity.MonitorProxyLimitList">
    <!--@mbg.generated-->
    <!--@Table monitor_proxy_limit_list-->
    <id column="list_id" jdbcType="INTEGER" property="listId" />
    <result column="list_type" jdbcType="INTEGER" property="listType" />
    <result column="list_status" jdbcType="INTEGER" property="listStatus" />
    <result column="list_ip" jdbcType="VARCHAR" property="listIp" />
    <result column="proxy_id" jdbcType="VARCHAR" property="proxyId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    list_id, list_type, list_status, list_ip, proxy_id
  </sql>
</mapper>