<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.monitor.server.mapper.MonitorProxyStatisticServiceDiscoveryMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.monitor.server.entity.MonitorProxyStatisticServiceDiscovery">
    <!--@mbg.generated-->
    <!--@Table monitor_proxy_statistic_service_discovery-->
    <id column="proxy_statistic_id" jdbcType="INTEGER" property="proxyStatisticId" />
    <result column="proxy_statistic_name" jdbcType="VARCHAR" property="proxyStatisticName" />
    <result column="proxy_statistic_url" jdbcType="VARCHAR" property="proxyStatisticUrl" />
    <result column="proxy_statistic_protocol" jdbcType="VARCHAR" property="proxyStatisticProtocol" />
    <result column="proxy_statistic_hostname" jdbcType="VARCHAR" property="proxyStatisticHostname" />
    <result column="proxy_statistic_weight" jdbcType="INTEGER" property="proxyStatisticWeight" />
    <result column="proxy_id" jdbcType="INTEGER" property="proxyId" />
    <result column="proxy_statistic_status" jdbcType="INTEGER" property="proxyStatisticStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    proxy_statistic_id, proxy_statistic_name, proxy_statistic_url, proxy_statistic_protocol, 
    proxy_statistic_hostname, proxy_statistic_weight, proxy_id, proxy_statistic_status
  </sql>
</mapper>