<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.monitor.server.mapper.MonitorJobMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.monitor.server.entity.MonitorJob">
    <!--@mbg.generated-->
    <!--@Table monitor_job-->
    <id column="job_id" jdbcType="INTEGER" property="jobId" />
    <result column="job_name" jdbcType="VARCHAR" property="jobName" />
    <result column="job_desc" jdbcType="VARCHAR" property="jobDesc" />
    <result column="job_type" jdbcType="VARCHAR" property="jobType" />
    <result column="job_conf" jdbcType="VARCHAR" property="jobConf" />
    <result column="job_execute_type" jdbcType="VARCHAR" property="jobExecuteType" />
    <result column="job_execute_bean" jdbcType="VARCHAR" property="jobExecuteBean" />
    <result column="job_profile" jdbcType="VARCHAR" property="jobProfile" />
    <result column="job_app" jdbcType="VARCHAR" property="jobApp" />
    <result column="job_execute_route" jdbcType="VARCHAR" property="jobExecuteRoute" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    job_id, job_name, job_desc, job_type, job_conf, job_execute_type, job_execute_bean, 
    job_profile, job_app, job_execute_route
  </sql>
</mapper>