<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.monitor.server.mapper.MonitorProxyLimitLogMapper">

  <select id="pageForLog" resultType="com.chua.starter.monitor.server.entity.MonitorProxyLimitLog">
    SELECT
      create_time_min,
      limit_log_url,
      limit_log_type,
      limit_log_address_geo,
      limit_log_address,
      limit_log_server_id,
      count(*) count,
      proxy_name proxyName
    FROM
      monitor_proxy_limit_log mpll
        INNER JOIN monitor_proxy mp ON mp.proxy_id = mpll.limit_log_server_id
    GROUP BY
      create_time_min,
      limit_log_url,
      limit_log_type,
      limit_log_address_geo,
      limit_log_address,
      limit_log_server_id
  </select>
</mapper>