<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.monitor.server.mapper.MonitorLimitMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.monitor.server.entity.MonitorLimit">
    <!--@mbg.generated-->
    <!--@Table monitor_limit-->
    <id column="limit_id" jdbcType="INTEGER" property="limitId" />
    <result column="limit_name" jdbcType="VARCHAR" property="limitName" />
    <result column="limit_mapping" jdbcType="VARCHAR" property="limitMapping" />
    <result column="imit_permits" jdbcType="VARCHAR" property="imitPermits" />
    <result column="limit_status" jdbcType="INTEGER" property="limitStatus" />
    <result column="limit_type" jdbcType="VARCHAR" property="limitType" />
    <result column="limit_resolver" jdbcType="VARCHAR" property="limitResolver" />
    <result column="limit_profile" jdbcType="VARCHAR" property="limitProfile" />
    <result column="limit_app" jdbcType="VARCHAR" property="limitApp" />
    <result column="limit_remote_list" jdbcType="VARCHAR" property="limitRemoteList" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    limit_id, limit_name, limit_mapping, imit_permits, limit_status, limit_type, limit_resolver, 
    limit_profile, limit_app, limit_remote_list
  </sql>
</mapper>