<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.proxy.support.mapper.SystemServerSettingServiceDiscoveryMapper">

    <select id="selectByServerId" resultType="com.chua.starter.proxy.support.entity.SystemServerSettingServiceDiscovery">
        SELECT *
        FROM proxy_server_setting_service_discovery
        WHERE service_discovery_server_id = #{serverId}
        ORDER BY create_time DESC
    </select>
</mapper>

