<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.pay.support.mapper.PayMerchantOrderMapper">
    <select id="pageForOrder" resultType="com.chua.starter.pay.support.entity.PayMerchantOrder">
        SELECT pay_merchant_order_id,
               pay_merchant_order_code,
               pay_merchant_order_user_id,
               pay_merchant_order_origin,
               pay_merchant_order_price,
               pay_merchant_order_total_price,
               pay_merchant_order_status,
               pay_merchant_order_trade_type,
               pmo.pay_merchant_code,
               pm.pay_merchant_name payMerchantName,
               pay_merchant_order_remark,
               pay_merchant_order_product_name,
               pay_merchant_order_product_code,
               pay_merchant_coupon_code,
               pay_merchant_order_wallet,
               pay_merchant_order_browser,
               pay_merchant_order_browser_system,
               pay_merchant_order_fail_message,
               pay_merchant_order_attach,
               pay_merchant_order_transaction_id,
               pay_merchant_order_refund_reason,
               pay_merchant_order_refund_transaction_id,
               pay_merchant_order_refund_code,
               pay_merchant_order_refund_create_time,
               pay_merchant_order_refund_success_time,
               pay_merchant_order_refund_user_received_account,
               pmo.create_name,
               pmo.create_by,
               pmo.create_time
        FROM pay_merchant_order pmo
                 INNER JOIN pay_merchant pm ON pm.pay_merchant_code = pmo.pay_merchant_code
        <where>
            <if test="request.payMerchantCode != null and request.payMerchantCode != ''">
                AND pmo.pay_merchant_code = #{request.payMerchantCode}
            </if>
            <if test="request.payMerchantOrderOrigin != null and request.payMerchantOrderOrigin != ''">
                AND pay_merchant_order_origin = #{request.payMerchantOrderOrigin}
            </if>

            <if test="request.payMerchantOrderTradeType != null and request.payMerchantOrderTradeType != ''">
                AND pay_merchant_order_trade_type = #{request.payMerchantOrderTradeType}
            </if>

            <if test="request.payMerchantOrderStatus != null and request.payMerchantOrderStatus != ''">
                AND pay_merchant_order_status = #{request.payMerchantOrderTradeType}
            </if>

            <if test="request.payMerchantOrderRemark != null and request.payMerchantOrderRemark != ''">
                AND pay_merchant_order_remark LIKE concat(#{request.payMerchantOrderRemark}, '%')
            </if>

            <if test="request.startTime != null and request.endTime != null">
                AND (pmo.create_time <![CDATA[>=]]> #{request.startTime} AND pmo.create_time <![CDATA[<=]]> #{request.endTime})
            </if>
        </where>
        ORDER BY pmo.create_time DESC
    </select>

    <select id="order" resultType="com.chua.starter.pay.support.entity.PayMerchantOrder">
        SELECT pay_merchant_order_id,
               pay_merchant_order_code,
               pay_merchant_order_user_id,
               pay_merchant_order_origin,
               pay_merchant_order_price,
               pay_merchant_order_total_price,
               pay_merchant_order_status,
               pay_merchant_order_trade_type,
               pmo.pay_merchant_code,
               pm.pay_merchant_name payMerchantName,
               pay_merchant_order_remark,
               pay_merchant_order_product_name,
               pay_merchant_order_product_code,
               pay_merchant_coupon_code,
               pay_merchant_order_wallet,
               pay_merchant_order_browser,
               pay_merchant_order_browser_system,
               pay_merchant_order_fail_message,
               pay_merchant_order_attach,
               pay_merchant_order_transaction_id,
               pay_merchant_order_refund_reason,
               pay_merchant_order_refund_transaction_id,
               pay_merchant_order_refund_code,
               pay_merchant_order_refund_create_time,
               pay_merchant_order_refund_success_time,
               pay_merchant_order_refund_user_received_account,
               pmo.create_name,
               pmo.create_by,
               pmo.create_time
        FROM pay_merchant_order pmo
                 INNER JOIN pay_merchant pm ON pm.pay_merchant_code = pmo.pay_merchant_code
        WHERE pmo.pay_merchant_code = #{request.payMerchantCode}

        <if test="sysUserId != null">
            AND pmo.create_by = #{sysUserId}
        </if>

        <if test="request.username != null and request.username != ''">
            AND pmo.create_name LIKE concat(#{request.username}, '%')
        </if>

        <if test="request.payMerchantOrderCode != null and request.payMerchantOrderCode != ''">
            AND pmo.pay_merchant_order_code LIKE concat(#{request.payMerchantOrderCode}, '%')
        </if>


        <if test="request.payMerchantOrderTradeType != null and request.payMerchantOrderTradeType != ''">
            AND pay_merchant_order_trade_type = #{request.payMerchantOrderTradeType}
        </if>


        <if test="request.payMerchantOrderStatus != null and request.payMerchantOrderStatus != ''">
            AND pay_merchant_order_status = #{request.payMerchantOrderTradeType}
        </if>

        <if test="request.startTime != null and request.endTime != null">
            AND (pmo.create_time <![CDATA[>=]]> #{request.startTime} AND pmo.create_time <![CDATA[<=]]> #{request.endTime})
        </if>

        <if test="request.payMerchantOrderOrigin != null and request.payMerchantOrderOrigin != ''">
            AND pay_merchant_order_origin = #{request.payMerchantOrderOrigin}
        </if>

        <if test="request.payMerchantOrderAttach != null and request.payMerchantOrderAttach != ''">
            AND pay_merchant_order_attach LIKE concat('%', #{request.payMerchantOrderAttach}, '%')
        </if>
        ORDER BY pmo.create_time DESC
    </select>
</mapper>