<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.pay.support.mapper.PayMerchantOrderMapper">
    <select id="pageForOrder" resultType="com.chua.starter.pay.support.entity.PayMerchantOrder">
        SELECT
        *
        FROM pay_merchant_order
        WHERE pay_merchant_code = #{request.payMerchantCode}

        <if test="request.payMerchantOrderOrigin != null and request.payMerchantOrderOrigin != ''">
            AND pay_merchant_order_origin = #{request.payMerchantOrderOrigin}
        </if>

        <if test="request.payMerchantOrderTradeType != null and request.payMerchantOrderTradeType != ''">
            AND pay_merchant_order_trade_type = #{request.payMerchantOrderTradeType}
        </if>

        <if test="request.payMerchantOrderStatus != null and request.payMerchantOrderStatus != ''">
            AND pay_merchant_order_status = #{request.payMerchantOrderTradeType}
        </if>

        <if test="request.payMerchantOrderRemark != null and request.payMerchantOrderRemark != ''">
            AND pay_merchant_order_remark LIKE concat( #{request.payMerchantOrderRemark}, '%')
        </if>

        <if test="request.startTime != null and request.endTime != null">
            AND (create_time <![CDATA[>=]]> #{request.startTime} AND create_time <![CDATA[<=]]> #{request.endTime})
        </if>

    </select>
</mapper>