<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.pay.support.mapper.PayUserWalletMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.pay.support.entity.PayUserWallet">
    <!--@mbg.generated-->
    <!--@Table pay_user_wallet-->
    <id column="pay_user_wallet_id" jdbcType="INTEGER" property="payUserWalletId" />
    <result column="pay_user_wallet_user_id" jdbcType="VARCHAR" property="payUserWalletUserId" />
    <result column="pay_user_wallet_money" jdbcType="DECIMAL" property="payUserWalletMoney" />
    <result column="pay_user_wallet_version" jdbcType="INTEGER" property="payUserWalletVersion" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    pay_user_wallet_id, pay_user_wallet_user_id, pay_user_wallet_money, pay_user_wallet_version, 
    create_name, create_by, create_time, update_time, update_name, update_by
  </sql>
</mapper>