<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.report.server.starter.mapper.MonitorProxyLogMapper">
  <select id="pageForLog" resultType="com.chua.report.server.starter.pojo.MonitorProxyLimitLogResult">
    SELECT monitor_proxy_log_date,
    monitor_proxy_log_url,
    monitor_proxy_log_address_geo,
    monitor_proxy_log_address,
    monitor_proxy_log_server_id,
    count(*) count,
    (select count(*) from monitor_proxy_log where monitor_proxy_log_date = mpll.monitor_proxy_log_date and monitor_proxy_log_server_id = mpll.monitor_proxy_log_server_id and  monitor_proxy_log_address = mpll.monitor_proxy_log_address and monitor_proxy_log_type = 'allow' and monitor_proxy_log_url = mpll.monitor_proxy_log_url) allowCount,
    (select count(*) from monitor_proxy_log where monitor_proxy_log_date = mpll.monitor_proxy_log_date and monitor_proxy_log_server_id = mpll.monitor_proxy_log_server_id and  monitor_proxy_log_address = mpll.monitor_proxy_log_address and monitor_proxy_log_type = 'deny' and monitor_proxy_log_url = mpll.monitor_proxy_log_url) denyCount,
    (select count(*) from monitor_proxy_log where monitor_proxy_log_date = mpll.monitor_proxy_log_date and monitor_proxy_log_server_id = mpll.monitor_proxy_log_server_id and  monitor_proxy_log_address = mpll.monitor_proxy_log_address and monitor_proxy_log_type = 'warn' and monitor_proxy_log_url = mpll.monitor_proxy_log_url) warnCount,
    proxy_name proxyName
    FROM monitor_proxy_log mpll
    INNER JOIN monitor_proxy mp
    ON mp.proxy_id = mpll.monitor_proxy_log_server_id
    <where>
      <if test="query.monitorProxyLogServerId != null">
        AND mpll.monitor_proxy_log_server_id = #{query.monitorProxyLogServerId}
      </if>

      <if test="query.startDate != null">
        AND mpll.create_time <![CDATA[>=]]> #{query.startDate}
      </if>

      <if test="query.endDate != null">
        AND mpll.create_time <![CDATA[<=]]> #{query.endDate}
      </if>
    </where>
    GROUP BY monitor_proxy_log_date,
    monitor_proxy_log_url,
    monitor_proxy_log_address_geo,
    monitor_proxy_log_address,
    monitor_proxy_log_server_id
    ORDER BY monitor_proxy_log_date DESC
  </select>

  <select id="listForGeo" resultType="com.chua.report.server.starter.pojo.MonitorProxyLimitLogResult">
    select create_time,
    sum(allowCount) allowCount,
    sum(denyCount) denyCount,
    sum(warnCount) warnCount from(
    SELECT DISTINCT create_time,
    (select count(*) from monitor_proxy_log where monitor_proxy_log_date = mpll.monitor_proxy_log_date and monitor_proxy_log_server_id = mpll.monitor_proxy_log_server_id and  monitor_proxy_log_address = mpll.monitor_proxy_log_address and monitor_proxy_log_type = 'allow' and monitor_proxy_log_url = mpll.monitor_proxy_log_url) allowCount,
    (select count(*) from monitor_proxy_log where monitor_proxy_log_date = mpll.monitor_proxy_log_date and monitor_proxy_log_server_id = mpll.monitor_proxy_log_server_id and  monitor_proxy_log_address = mpll.monitor_proxy_log_address and monitor_proxy_log_type = 'deny' and monitor_proxy_log_url = mpll.monitor_proxy_log_url) denyCount,
    (select count(*) from monitor_proxy_log where monitor_proxy_log_date = mpll.monitor_proxy_log_date and monitor_proxy_log_server_id = mpll.monitor_proxy_log_server_id and  monitor_proxy_log_address = mpll.monitor_proxy_log_address and monitor_proxy_log_type = 'warn' and monitor_proxy_log_url = mpll.monitor_proxy_log_url) warnCount,
    FROM monitor_proxy_log mpll
    <where>
      <if test="query.monitorProxyLogServerId != null">
        AND monitor_proxy_log_server_id = #{query.monitorProxyLogServerId}
      </if>

      <if test="query.monitorProxyLogAddress != null and query.monitorProxyLogAddress != ''">
        AND monitor_proxy_log_address = #{query.monitorProxyLogAddress}
      </if>

      <if test="query.startDate != null">
        AND create_time <![CDATA[>=]]> #{query.startDate}
      </if>

      <if test="query.endDate != null">
        AND mpll.create_time <![CDATA[<=]]> #{query.endDate}
      </if>
    </where>
    ) t
    GROUP BY create_time
    ORDER BY create_time
  </select>
</mapper>