<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.report.server.starter.mapper.MonitorNginxEventMapper">
  <resultMap id="BaseResultMap" type="com.chua.report.server.starter.entity.MonitorNginxEvent">
    <!--@mbg.generated-->
    <!--@Table monitor_nginx_event-->
    <id column="monitor_nginx_event_id" jdbcType="INTEGER" property="monitorNginxEventId" />
    <result column="monitor_nginx_event_worker_connections" jdbcType="INTEGER" property="monitorNginxEventWorkerConnections" />
    <result column="monitor_nginx_event_use" jdbcType="VARCHAR" property="monitorNginxEventUse" />
    <result column="monitor_nginx_event_multi_accept" jdbcType="VARCHAR" property="monitorNginxEventMultiAccept" />
    <result column="monitor_nginx_event_accept_mutex" jdbcType="VARCHAR" property="monitorNginxEventAcceptMutex" />
    <result column="monitor_nginx_config_id" jdbcType="INTEGER" property="monitorNginxConfigId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    monitor_nginx_event_id, monitor_nginx_event_worker_connections, monitor_nginx_event_use, 
    monitor_nginx_event_multi_accept, monitor_nginx_event_accept_mutex, monitor_nginx_config_id
  </sql>
</mapper>