<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.report.server.starter.mapper.MonitorJobLogMapper">
  <select id="time" resultType="com.chua.report.server.starter.job.pojo.JobStatistic">
      SELECT
          sum(cnt) cnt,
          job_log_trigger_code,
          job_log_trigger_date
      FROM
          (
          SELECT
              count(job_log_trigger_code) cnt,
              case when job_log_trigger_code = '00000' then '00000' else 'S0512C0000' end job_log_trigger_code,
              job_log_trigger_date
          FROM
            monitor_job_log
          WHERE
              job_log_trigger_time between #{query.startDate} and #{query.endDate}
          GROUP BY
              job_log_trigger_code,
              job_log_trigger_date
      ) t

      GROUP BY
      job_log_trigger_code,
      job_log_trigger_date
    </select>

  <delete id="deleteNumber">
    DELETE FROM
        monitor_job_log
    WHERE
        job_log_id <![CDATA[>]]>
        (SELECT job_log_id FROM monitor_job_log ORDER BY job_log_id DESC LIMIT 0, #{number} )
     ORDER BY job_log_id DESC
    </delete>
</mapper>