<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.report.server.starter.mapper.MonitorNginxHttpServerMapper">
  <resultMap id="BaseResultMap" type="com.chua.report.server.starter.entity.MonitorNginxHttpServer">
    <!--@mbg.generated-->
    <!--@Table monitor_nginx_http_server-->
    <id column="monitor_nginx_http_server_id" jdbcType="INTEGER" property="monitorNginxHttpServerId" />
    <result column="monitor_nginx_http_id" jdbcType="INTEGER" property="monitorNginxHttpId" />
    <result column="monitor_nginx_http_server_port" jdbcType="INTEGER" property="monitorNginxHttpServerPort" />
    <result column="monitor_nginx_http_server_name" jdbcType="VARCHAR" property="monitorNginxHttpServerName" />
    <result column="monitor_nginx_http_server_charset" jdbcType="VARCHAR" property="monitorNginxHttpServerCharset" />
    <result column="monitor_nginx_http_server_access_log" jdbcType="VARCHAR" property="monitorNginxHttpServerAccessLog" />
    <result column="monitor_nginx_http_server_return" jdbcType="VARCHAR" property="monitorNginxHttpServerReturn" />
    <result column="monitor_nginx_http_server_ssl" jdbcType="VARCHAR" property="monitorNginxHttpServerSsl" />
    <result column="monitor_nginx_http_server_udp" jdbcType="VARCHAR" property="monitorNginxHttpServerUdp" />
    <result column="monitor_nginx_http_server_error_page" jdbcType="VARCHAR" property="monitorNginxHttpServerErrorPage" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    monitor_nginx_http_server_id, monitor_nginx_http_id, monitor_nginx_http_server_port, 
    monitor_nginx_http_server_name, monitor_nginx_http_server_charset, monitor_nginx_http_server_access_log, 
    monitor_nginx_http_server_return, monitor_nginx_http_server_ssl, monitor_nginx_http_server_udp, 
    monitor_nginx_http_server_error_page
  </sql>
</mapper>