<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.report.server.starter.mapper.MonitorNginxHttpServerLocationMapper">
  <resultMap id="BaseResultMap" type="com.chua.report.server.starter.entity.MonitorNginxHttpServerLocation">
    <!--@mbg.generated-->
    <!--@Table monitor_nginx_http_server_location-->
    <id column="monitor_nginx_http_server_location_id" jdbcType="INTEGER" property="monitorNginxHttpServerLocationId" />
    <result column="monitor_nginx_http_server_id" jdbcType="INTEGER" property="monitorNginxHttpServerId" />
    <result column="monitor_nginx_http_server_location_name" jdbcType="VARCHAR" property="monitorNginxHttpServerLocationName" />
    <result column="monitor_nginx_http_server_location_proxy_pass" jdbcType="VARCHAR" property="monitorNginxHttpServerLocationProxyPass" />
    <result column="monitor_nginx_http_server_location_proxy_cache" jdbcType="VARCHAR" property="monitorNginxHttpServerLocationProxyCache" />
    <result column="monitor_nginx_http_server_location_proxy_cache_valid" jdbcType="VARCHAR" property="monitorNginxHttpServerLocationProxyCacheValid" />
    <result column="monitor_nginx_http_server_location_proxy_cache_methods" jdbcType="VARCHAR" property="monitorNginxHttpServerLocationProxyCacheMethods" />
    <result column="monitor_nginx_http_server_location_client_max_body_size" jdbcType="VARCHAR" property="monitorNginxHttpServerLocationClientMaxBodySize" />
    <result column="monitor_nginx_http_server_location_client_body_buffer_size" jdbcType="DOUBLE" property="monitorNginxHttpServerLocationClientBodyBufferSize" />
    <result column="monitor_nginx_http_server_location_proxy_read_timeout" jdbcType="INTEGER" property="monitorNginxHttpServerLocationProxyReadTimeout" />
    <result column="monitor_nginx_http_server_location_proxy_send_timeout" jdbcType="INTEGER" property="monitorNginxHttpServerLocationProxySendTimeout" />
    <result column="monitor_nginx_http_server_location_proxy_connect_timeout" jdbcType="INTEGER" property="monitorNginxHttpServerLocationProxyConnectTimeout" />
    <result column="monitor_nginx_http_server_location_root" jdbcType="VARCHAR" property="monitorNginxHttpServerLocationRoot" />
    <result column="monitor_nginx_http_server_location_index" jdbcType="VARCHAR" property="monitorNginxHttpServerLocationIndex" />
    <result column="monitor_nginx_http_server_location_try_files" jdbcType="VARCHAR" property="monitorNginxHttpServerLocationTryFiles" />
    <result column="monitor_nginx_http_server_location_condition" jdbcType="LONGVARCHAR" property="monitorNginxHttpServerLocationCondition" />
    <result column="monitor_nginx_http_server_location_limit_req" jdbcType="VARCHAR" property="monitorNginxHttpServerLocationLimitReq" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    monitor_nginx_http_server_location_id, monitor_nginx_http_server_id, monitor_nginx_http_server_location_name, 
    monitor_nginx_http_server_location_proxy_pass, monitor_nginx_http_server_location_proxy_cache, 
    monitor_nginx_http_server_location_proxy_cache_valid, monitor_nginx_http_server_location_proxy_cache_methods, 
    monitor_nginx_http_server_location_client_max_body_size, monitor_nginx_http_server_location_client_body_buffer_size, 
    monitor_nginx_http_server_location_proxy_read_timeout, monitor_nginx_http_server_location_proxy_send_timeout, 
    monitor_nginx_http_server_location_proxy_connect_timeout, monitor_nginx_http_server_location_root, 
    monitor_nginx_http_server_location_index, monitor_nginx_http_server_location_try_files, 
    monitor_nginx_http_server_location_condition, monitor_nginx_http_server_location_limit_req
  </sql>
</mapper>