<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.report.server.starter.mapper.MonitorProxyPluginConfigMapper">
  <resultMap id="BaseResultMap" type="com.chua.report.server.starter.entity.MonitorProxyPluginConfig">
    <!--@mbg.generated-->
    <!--@Table monitor_proxy_plugin_config-->
    <id column="proxy_config_id" jdbcType="INTEGER" property="proxyConfigId" />
    <result column="proxy_config_name" jdbcType="VARCHAR" property="proxyConfigName" />
    <result column="proxy_config_value" jdbcType="VARCHAR" property="proxyConfigValue" />
    <result column="proxy_plugin_id" jdbcType="INTEGER" property="proxyPluginId" />
    <result column="proxy_id" jdbcType="INTEGER" property="proxyId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    proxy_config_id, proxy_config_name, proxy_config_value, proxy_plugin_id, proxy_id
  </sql>
</mapper>