<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.report.server.starter.mapper.MonitorProxyPluginMapper">
  <resultMap id="BaseResultMap" type="com.chua.report.server.starter.entity.MonitorProxyPlugin">
    <!--@mbg.generated-->
    <!--@Table monitor_proxy_plugin-->
    <id column="proxy_plugin_id" jdbcType="INTEGER" property="proxyPluginId" />
    <result column="proxy_plugin_spi" jdbcType="VARCHAR" property="proxyPluginSpi" />
    <result column="proxy_id" jdbcType="INTEGER" property="proxyId" />
    <result column="proxy_plugin_sort" jdbcType="INTEGER" property="proxyPluginSort" />
    <result column="proxy_plugin_name" jdbcType="VARCHAR" property="proxyPluginName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    proxy_plugin_id, proxy_plugin_spi, proxy_id, proxy_plugin_sort, proxy_plugin_name
  </sql>
</mapper>