<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.report.server.starter.mapper.MonitorNginxUpstreamMapper">
  <resultMap id="BaseResultMap" type="com.chua.report.server.starter.entity.MonitorNginxUpstream">
    <!--@mbg.generated-->
    <!--@Table monitor_nginx_upstream-->
    <id column="monitor_nginx_upstream_id" jdbcType="INTEGER" property="monitorNginxUpstreamId" />
    <result column="monitor_nginx_upstream_name" jdbcType="VARCHAR" property="monitorNginxUpstreamName" />
    <result column="monitor_nginx_upstream_server" jdbcType="VARCHAR" property="monitorNginxUpstreamServer" />
    <result column="monitor_nginx_upstream_max_fails" jdbcType="INTEGER" property="monitorNginxUpstreamMaxFails" />
    <result column="monitor_nginx_upstream_weight" jdbcType="INTEGER" property="monitorNginxUpstreamWeight" />
    <result column="monitor_nginx_upstream_type" jdbcType="INTEGER" property="monitorNginxUpstreamType" />
    <result column="monitor_nginx_upstream_mode" jdbcType="VARCHAR" property="monitorNginxUpstreamMode" />
    <result column="monitor_nginx_upstream_udp" jdbcType="VARCHAR" property="monitorNginxUpstreamUdp" />
    <result column="monitor_nginx_server_id" jdbcType="INTEGER" property="monitorNginxServerId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    monitor_nginx_upstream_id, monitor_nginx_upstream_name, monitor_nginx_upstream_server, 
    monitor_nginx_upstream_max_fails, monitor_nginx_upstream_weight, monitor_nginx_upstream_type, 
    monitor_nginx_upstream_mode, monitor_nginx_upstream_udp, monitor_nginx_server_id
  </sql>
</mapper>