<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.report.server.starter.mapper.MonitorProxyPluginListMapper">
  <resultMap id="BaseResultMap" type="com.chua.report.server.starter.entity.MonitorProxyPluginList">
    <!--@mbg.generated-->
    <!--@Table monitor_proxy_plugin_list-->
    <id column="proxy_config_list_id" jdbcType="INTEGER" property="proxyConfigListId" />
    <result column="proxy_config_list" jdbcType="VARCHAR" property="proxyConfigList" />
    <result column="proxy_config_list_type" jdbcType="VARCHAR" property="proxyConfigListType" />
    <result column="proxy_config_list_disabled" jdbcType="INTEGER" property="proxyConfigListDisabled" />
    <result column="proxy_plugin_id" jdbcType="INTEGER" property="proxyPluginId" />
    <result column="proxy_id" jdbcType="INTEGER" property="proxyId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    proxy_config_list_id, proxy_config_list, proxy_config_list_type, proxy_config_list_disabled, 
    proxy_plugin_id, proxy_id
  </sql>
</mapper>