<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chua.starter.pay.support.mapper.PayMerchantFailureRecordMapper">
  <resultMap id="BaseResultMap" type="com.chua.starter.pay.support.entity.PayMerchantFailureRecord">
    <!--@mbg.generated-->
    <!--@Table pay_merchant_failure_record-->
    <id column="pay_merchant_failure_record_id" jdbcType="INTEGER" property="payMerchantFailureRecordId" />
    <result column="pay_merchant_failure_record_body" jdbcType="LONGVARCHAR" property="payMerchantFailureRecordBody" />
    <result column="pay_merchant_failure_record_signature" jdbcType="VARCHAR" property="payMerchantFailureRecordSignature" />
    <result column="pay_merchant_failure_record_signature_type" jdbcType="VARCHAR" property="payMerchantFailureRecordSignatureType" />
    <result column="pay_merchant_failure_record_nonce" jdbcType="VARCHAR" property="payMerchantFailureRecordNonce" />
    <result column="pay_merchant_failure_record_serial" jdbcType="VARCHAR" property="payMerchantFailureRecordSerial" />
    <result column="pay_merchant_merchant_order_code" jdbcType="VARCHAR" property="payMerchantMerchantOrderCode" />
    <result column="pay_merchant_failure_record_timestamp" jdbcType="INTEGER" property="payMerchantFailureRecordTimestamp" />
    <result column="pay_merchant_failure_reason" jdbcType="LONGVARCHAR" property="payMerchantFailureReason" />
    <result column="pay_merchant_failure_type" jdbcType="VARCHAR" property="payMerchantFailureType" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    pay_merchant_failure_record_id, pay_merchant_failure_record_body, pay_merchant_failure_record_signature, 
    pay_merchant_failure_record_signature_type, pay_merchant_failure_record_nonce, pay_merchant_failure_record_serial, 
    pay_merchant_merchant_order_code, pay_merchant_failure_record_timestamp, pay_merchant_failure_reason, 
    pay_merchant_failure_type, create_name, create_by, create_time, update_time, update_name, 
    update_by
  </sql>
</mapper>